rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 全てのアクセスをブロック
    match /{document=**} {
      allow read, write: if false;
    }

    function isAnyAuthenticated() {
      return request.auth.uid != null;
    }

    // groupsコレクション
    match /groups/{groupID} {
      function getGroup() {
        return get(/databases/$(database)/documents/groups/$(groupID))
      }

      allow update: if isAnyAuthenticated();

      allow read: if isAnyAuthenticated();

      match /members/{memberID} {
        allow create: if isAnyAuthenticated()
          && request.auth.uid in getGroup().data.members
          && (request.resource.data.point is number && request.resource.data.point == 0);
        
        allow update: if isAnyAuthenticated()
          && request.auth.uid in getGroup().data.members
          && request.auth.uid == memberID;
        
        allow read: if isAnyAuthenticated()
          && request.auth.uid in getGroup().data.members;
      }
    }
  }
}