rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true;
    }

    function isAnyAuthenticated() {
      return request.auth != null;
    }

    // usersコレクション
    match /users/{uid}/{allPaths=**} {
      allow read: if isAnyAuthenticated();

      allow write: if isAnyAuthenticated()
        && uid == request.auth.uid;
    }
  }
}
