rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    function isAnyAuthenticated() {
      return request.auth != null;
    }

    // usersコレクション
    match /users/{uid}/{allPaths=**} {
      allow read: if isAnyAuthenticated();

      allow write: if true; // なぜかemulatorだとエラーになるためtrueに設定
      // allow write: if isAnyAuthenticated()
      //   && request.auth.uid == uid;
    }
  }
}
