rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    function isAnyAuthenticated() {
      return request.auth != null;
    }

    // 開発用
    match /dev/{file} {
      allow read, write: if true;
    }

    match /versions {
      match /v2 {
        match /{all=**} {
          allow read, write: if true;
        }
      }

      match /v1 {
        // usersコレクション
        match /users/{uid}/{file} {
          allow read: if isAnyAuthenticated();

          allow write: if true; // なぜかemulatorだとエラーになるためtrueに設定
          // allow write: if isAnyAuthenticated()
          //   && request.auth.uid == uid;
        }
      }
    }
  }
}
